<div class="grid">
  <div class="grid__item large--three-sixths">
    <div class="featured-image">
      {% include 'image-simple', image: section.settings.featured_image, image_max_width: section.settings.featured_image_max_width %}
    </div>       
  </div>
  <div class="grid__item large--three-sixths">
    <div class="rte rte--nomargin rte--indented-images">
      {{ page.content }}
    </div>       
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "Content",
    "pt-BR": "Conteúdo"
  },
  "class": "content-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": {
        "en": "Featured Image",
        "pt-BR": "Imagem Destaque"
      }
    },
    {
      "type": "text",
      "id": "featured_image_max_width",
      "label": {
        "en": "Featured Image width (in pixels, max 2048)",
        "pt-BR": "Largura da Imagem Destaque (em pixels, máx. 2048)"
      },
      "default": "1920"
    }
  ]
}
{% endschema %}