{% assign limit = 3 %}
<div class="page-width product-recommendations" data-product-id="{{ product.id }}" data-limit="{{ limit }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations">
  {% if recommendations.performed %}
    {% if recommendations.products_count > 0 %}
      <div class="section-header text-center">
        <h2>Confira também</h2>
        <hr class="hr--small">
        <p>Temos outras peças que combinam com você</p>
      </div>
      
      <div class="grid grid--uniform grid--view-items">
        {% for product in recommendations.products %}
          {% include 'product-grid-item' %}
        {% endfor %}
      </div>
    {% endif %}
  {% else %}
    <div class="product-recommendations__loading-dots">
      <div class="product-recommendations__loading-dot"></div>
      <div class="product-recommendations__loading-dot"></div>
      <div class="product-recommendations__loading-dot"></div>
    </div>
  {% endif %}
</div>